
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaultbreakers: The Ultimate Heist Challenge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>
<body>
    <!-- particles.js container -->
    <div class="container">
        <div id="particles-js"></div>
            <h1>The Ultimate Decision Game</h1>
            <p>{{ scenario.text }}</p>
            <form action="/{{ scenario.id }}" method="post">
                <button type="submit" name="option" value="A">{{ scenario.option_a }}</button>
                <button type="submit" name="option" value="B">{{ scenario.option_b }}</button>
            </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
